NEXT_PUBLIC_AWS_REGION=ap-south-1
NEXT_PUBLIC_COGNITO_USER_POOL_ID=replace-with-user-pool-id
NEXT_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=replace-with-app-client-id
NEXT_PUBLIC_SEVAFIX_API_URL=https://replace-with-api-id.execute-api.ap-south-1.amazonaws.com/dev
NEXT_PUBLIC_COGNITO_OAUTH_DOMAIN=replace-with-cognito-domain.auth.ap-south-1.amazoncognito.com
NEXT_PUBLIC_COGNITO_OAUTH_REDIRECT=http://localhost:3000
